<nb-chat [title]="title" [status]="status" [size]="size">

  <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
    [date]="msg.date" [avatar]="msg.avatar" [files]="fileLugares">
  </nb-chat-message>

  <nb-chat-message *ngIf="loading" [nbSpinner]="true" nbSpinnerStatus="info" [type]="text" [message]="spinnerText"
    [avatar]="avatar">
  </nb-chat-message>


  <nb-chat-form #form (send)="sendMessage($event)" placeholder="digite alguma coisa"></nb-chat-form>


</nb-chat>